@{
  ViewData["Title"] = $"Edit {Model.GroupId}";
}

@model MessageBoard.Models.Group

<h4>Edit @Model.GroupId</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GroupId)
  @Html.LabelFor(model => model.Topic)
  @Html.TextBoxFor(model => model.Topic, 
  new { @Value = Model.Topic})
 
  <input type="submit" value="Edit group" class="btn btn-primary"/>
}

<br />
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.GroupId})</p>